<div class="news-wrapper border pt-10" tuiPlatform="web">
  <div tuiCardLarge tuiSurface="elevated">
    <header tuiHeader>
      <h2 tuiTitle>{{ news.title }}</h2>
    </header>
    <section>
      <tui-carousel
        [duration]="4000"
        [(index)]="index"
        *ngIf="news?.files?.length! > 0"
      >
        <ng-container *ngFor="let file of news.files">
          <tui-island *tuiItem>
            <img
              [src]="downloadFileUrl(file)"
              alt="_blank"
              loading="lazy"
              class="w-80 h-80"
            />
          </tui-island>
        </ng-container>
      </tui-carousel>
      <tui-pagination
        size="s"
        class="pagination"
        [length]="news.files.length"
        [(index)]="index"
      ></tui-pagination>
      <div>{{ news.content }}</div>
      <div class="float-right">
        <div>
          {{ "Published at: " + (news.publishDate | date) }}
        </div>
        <tui-svg
          src="tuiIconEdit"
          title="Edit news"
          (click)="showDialog(editNewsModal, 'Edit news')"
        >
          <ng-template #editNewsModal>
            <form [formGroup]="newsUpdateForm" (ngSubmit)="updateNews()">
              <tui-input formControlName="title">
                Title
                <input tuiTextfield [required]="true" />
                <span class="tui-required"></span>
              </tui-input>
              <tui-input formControlName="content" class="pt-3">
                Title
                <input tuiTextfield [required]="true" />
                <span class="tui-required"></span>
              </tui-input>
              <button
                size="m"
                tuiButton
                type="submit"
                class="tui-form__button pt-3"
                [class.tui-skeleton_light]="false"
                [class.tui-skeleton]="false"
              >
                Update news
              </button>
              <button
                size="m"
                tuiButton
                appearance="accent"
                type="reset"
                class="tui-form__button pt-3"
                [class.tui-skeleton_light]="false"
                [class.tui-skeleton]="false"
              >
                Cancel
              </button>
            </form>
          </ng-template>
        </tui-svg>

        <tui-svg
          src="tuiIconXCircle"
          title="Delete news "
          (click)="
            showDialog(deleteAttemptModal, 'Are you sure to delete news')
          "
          ><ng-template #deleteAttemptModal>
            <sp-confirm
              (onConfirm)="deleteNews()"
              (onReject)="closeDialog()"
              (finally)="closeDialog()"
            >
            </sp-confirm>
          </ng-template>
        </tui-svg>
      </div>
    </section>
  </div>
</div>
