<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full" *ngIf="!loading">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="mb-7 ml-10">
                  <tui-avatar
                    [avatarUrl]="user.avatar"
                    new
                    fallback="tuiIconUserLarge"
                    [size]="'xl'"
                    class="tui-space_left-3 avatar"
                  >
                  </tui-avatar>
                </div>
                <h6 class="f-w-600">{{ user.preferredUsername }}</h6>
                <div class="">
                  <tui-svg
                    src="tuiIconUserX"
                    title="Unsubscribe user"
                    *ngIf="isOutgoingSubscriber() === true"
                    (click)="
                      dialogService.showDialog(
                        unsubscribeUserModal,
                        'Unsubscribe user?'
                      )
                    "
                  >
                    <ng-template #unsubscribeUserModal>
                      <sp-confirm
                        (onReject)="dialogService.closeDialog()"
                        (finally)="dialogService.closeDialog()"
                        (onConfirm)="unsubscribeUser()"
                      >
                      </sp-confirm>
                    </ng-template>
                  </tui-svg>
                  <tui-svg
                    src="tuiIconUserPlus"
                    [title]="'Accept friend request'"
                    *ngIf="isIncomingSubscriber()"
                    (click)="
                      dialogService.showDialog(
                        friendModal,
                        isIncomingSubscriber()
                          ? 'Accept subscription?'
                          : 'Subscribe user'
                      )
                    "
                  >
                    <ng-template #friendModal>
                      <sp-confirm
                        (onReject)="dialogService.closeDialog()"
                        (finally)="dialogService.closeDialog()"
                        (onConfirm)="
                          isIncomingSubscriber()
                            ? acceptSubscription()
                            : subscribeUser()
                        "
                      >
                      </sp-confirm>
                    </ng-template>
                  </tui-svg>
                  <tui-svg
                    src="tuiIconUserX"
                    title="Delete from friend list"
                    *ngIf="isFriend()"
                    (click)="
                      dialogService.showDialog(
                        deleteFriend,
                        'Delete user from friend list'
                      )
                    "
                  >
                    <ng-template #deleteFriend>
                      <sp-confirm
                        (onReject)="dialogService.closeDialog()"
                        (finally)="dialogService.closeDialog()"
                        (onConfirm)="deleteFromUserList()"
                      >
                      </sp-confirm>
                    </ng-template>
                  </tui-svg>
                  <tui-svg
                    src="tuiIconUserPlus"
                    title="Send friend request"
                    *ngIf="
                      !isFriend() &&
                      !isOutgoingSubscriber() &&
                      !isIncomingSubscriber()
                    "
                    (click)="
                      dialogService.showDialog(
                        sendFriendRequestModal,
                        'Send friend request'
                      )
                    "
                  >
                    <ng-template #sendFriendRequestModal>
                      <sp-confirm
                        (onReject)="dialogService.closeDialog()"
                        (finally)="dialogService.closeDialog()"
                        (onConfirm)="subscribeUser()"
                      >
                      </sp-confirm>
                    </ng-template>
                  </tui-svg>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">{{ user.email }}</h6>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Projects
                </h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Recent</p>
                    <h6 class="text-muted f-w-400">Sam Disuja</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Most Viewed</p>
                    <h6 class="text-muted f-w-400">Dinoter husainm</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
