<form class="container" [formGroup]="userSearchForm">
  <tui-input
    *tuiLet="userSuggestions$ | async as userSuggestions"
    class="b-form"
    formControlName="query"
  >
    Find users
    <ng-container *ngIf="userSuggestions?.length">
      <tui-data-list *tuiDataList>
        <button
          *ngFor="let user of userSuggestions"
          tuiOption
          [value]="user"
          class="w-full"
          [title]="'Visit profile of' + user.preferredUsername"
          (click)="navigateToVisitPage(user)"
        >
          <div class="flex flex-row w-full justify-between">
            <div class="name block">{{ user.preferredUsername }}</div>

            <tui-avatar
              size="xs"
              fallback="tuiIconUserLarge"
              class="avatar block"
              [avatarUrl]="imageLink(user.avatar)"
            ></tui-avatar>
          </div>
        </button>
      </tui-data-list>
    </ng-container>
  </tui-input>
</form>
<!-- <label>
  Search users:
  <tui-combo-box
    [formControl]="query"
    [stringify]="stringify"
    [tuiTextfieldLabelOutside]="true"
    class="w-full"
  >
    User
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="stringify | tuiStringifyContent"
      [items]="userSuggestions$ | async"
    ></tui-data-list-wrapper>
  </tui-combo-box>
</label> -->
