<div class="posts_wrapper border pt-10" tuiPlatform="web">
  <sp-post-card *ngFor="let post of currentUserPosts" [post]="post">
  </sp-post-card>
</div>
<div class="flex justify-center items-start h-screen mt-20">
  <div *ngIf="currentUserPosts.length === 0" class="text-center">
    <p class="text-2xl">Your post list is empty</p>
    <a
      tuiLink
      class="text-lg mt-4"
      *ngIf="user"
      routerLink="/post/publish"
      [queryParams]="{
        authorId: user.user.id || null,
        postType: 'USER_PROFILE_POST'
      }"
      >Publish first post</a
    >
  </div>
</div>
