<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <tui-hosted-dropdown
          tuiDropdownAlign="right"
          tuiDropdownHover
          [content]="avatarOptions"
          [(open)]="open"
          class="flex items-end justify-between"
        >
          <tui-avatar
            fallback="tuiIconUserLarge"
            new
            class="tui-space_left-3 avatar"
            [avatarUrl]="imageLink(this.user.avatar)"
            [size]="'xxl'"
            *ngIf="user !== undefined && user !== null"
          >
          </tui-avatar>
          <div class="-mt-3">
            <tui-svg
              src="tuiIconEdit"
              tuiHostedDropdownHost
              tuiTab
              class="float-right ml-2"
              title="Manage avatar image"
              (tui-tab-activate.stop)="(0)"
            >
            </tui-svg>
          </div>
          <ng-template #avatarOptions>
            <div class="flex flex-col">
              <button tuiOption (click)="fileInput.click()" class="p-1">
                <tui-svg src="tuiIconUpload"> </tui-svg>
                {{
                  this.user.avatar
                    ? "Update profile image"
                    : "Upload profile image"
                }}
                <input
                  #fileInput
                  type="file"
                  class="w-full h-full hidden"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                />
              </button>
              <button
                tuiOption
                class="p-1"
                *ngIf="this.user.avatar"
                (click)="
                  showDialog(
                    deleteAvatarModal,
                    'Are you sure to remove avatar image?'
                  )
                "
              >
                <tui-svg src="tuiIconDelete" title="Delete image">
                  <ng-template #deleteAvatarModal let-observed>
                    <sp-confirm
                      (onConfirm)="deleteAvatar()"
                      (onReject)="closeDialog()"
                      (finally)="closeDialog()"
                    >
                    </sp-confirm>
                  </ng-template>
                </tui-svg>
                Delete image
              </button>
            </div>
          </ng-template>
        </tui-hosted-dropdown>
      </div>
    </div>
    <form [formGroup]="userForm" *ngIf="user !== undefined && user !== null">
      <div class="tui-row tui-row_sme">
        <div class="tui-col_8">
          <h3 class="tui-form__header tui-form__header_margin-top_none">
            Profile setting
          </h3>
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input formControlName="givenName" [required]="true">
                FirstName
              </tui-input>
            </div>
            <div class="tui-form__multi-field">
              <tui-input formControlName="familyName" [required]="true">
                LastName
              </tui-input>
            </div>
          </div>
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input formControlName="email" [required]="true">
                Email
              </tui-input>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-date formControlName="birthDate" [required]="true">
                Birth Date
              </tui-input-date>
            </div>
          </div>

          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input formControlName="preferredUsername" [required]="true">
                Username
              </tui-input>
            </div>
            <div class="tui-form__multi-field">
              <tui-select
                tuiTextfieldSize="l"
                [required]="true"
                formControlName="gender"
              >
                Gender
                <tui-data-list-wrapper
                  *tuiDataList
                  [items]="genders"
                ></tui-data-list-wrapper>
              </tui-select>
            </div>
          </div>
        </div>
        <div class="tui-col_8 mt-4" formGroupName="address">
          <h3 class="tui-form__header tui-form__header_margin-top_none">
            Address setting
          </h3>
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input formControlName="country" [required]="true">
                Country
              </tui-input>
            </div>
            <div class="tui-form__multi-field">
              <tui-input formControlName="city" [required]="true">
                City
              </tui-input>
            </div>
          </div>
        </div>
        <div class="tui-col_8 mt-4">
          <button
            appearance="primary"
            tuiButton
            type="submit"
            class="tui-space_right-3 tui-space_bottom-3"
            size="m"
            (click)="submitForm()"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <sp-user-search-input></sp-user-search-input>
  <div class="tui-col_8 mt-4">
    <button
      appearance="secondary-destructive"
      tuiButton
      class="tui-space_right-3 tui-space_bottom-3"
      size="m"
      (click)="
        showDialog(deleteAccountModal, 'Are you sure to delete account?')
      "
    >
      Delete Account
    </button>
    <ng-template #deleteAccountModal>
      <sp-confirm
        (onReject)="closeDialog()"
        (finally)="closeDialog()"
        (onConfirm)="deleteAccount()"
      >
      </sp-confirm>
    </ng-template>
  </div>
</div>
